@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container-de-cadastro {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container-de-cadastro h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.formulario-de-cadastro {
    display: flex;
    flex-direction: column;
}

.grupo-de-formulario {
    margin-bottom: 20px;
}

.grupo-de-formulario label {
    font-weight: bold;
    color: #555;
}

.grupo-de-formulario input,
.grupo-de-formulario select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.grupo-de-formulario select {
    width: 100%;
}

.botao-de-cadastro {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.botao-de-cadastro:hover {
    background-color: #0056b3;
}

.botao-de-cadastro:not(:last-child) {
    margin-right: 10px;
}